@inherits TopLinksVm

<br/>
<div class="container footer-platforms-block">
    @if (!IsAvailable)
    {
        <div class="available-release texting">
            <p>awaiting on</p>
        </div>
    }
    <div class="platform-row">
        @foreach (var platform in Platforms)
        {
            <a href="#" target="_blank">
                <img class="platform-logo" src="@platform.LogoSrc" alt="@platform.PlatformName"/>
            </a>
        }
    </div>
</div>