@inherits LayoutComponentBase

<div class="page">
    @* <div class="sidebar"> *@
    @*     <NavMenu/> *@
    @* </div> *@
    

    <div class="main">
        <span class="smoke"></span>
        <div class="page-content">
            @Body
        </div>
        
    </div>
</div>