.social{
  position: absolute;
  left: 1rem;
  user-select: none;

  display: none;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}
.social-net-text{
  transform-origin: 0 0;
  transform: rotate(-90deg) translateX(-2rem);
  text-transform: lowercase;
  transition: transform .3s ease-out;
  letter-spacing: 2px;
  white-space: nowrap;
  
  text-shadow: 0 0 10px black,0 0 10px black;
}
.social-link img{
  width: 2.5rem;
}
.social-link{
  transition: .3s;
  opacity: 70%;
  margin-bottom: 1.5rem;
}
.social-link:hover{
  opacity: 100%;
}
@media screen
and (min-width: 320px) 
and (min-width: 370px) {
  .social{
    display: none;
  }
}
@media screen and (min-width: 710px){
  .social{
    display: flex;
    font-size: x-large;
  }
}
@media screen and (min-width: 970px){
  .social{
    display: flex;
    font-size: x-large;
  }
}