@inherits CharacterDescriptionVm

<div class="character-block">
    <div class="character-image" data-aos="fade-right">
        <img src="@ImageSrc" alt=""/>
    </div>
    <div class="character-description" data-aos="fade-left">
        <p>@CharacterDescription</p>
    </div>
</div>
