@inherits TopLinksVm

<div class="container" id="topLinks">
    <div class="platform-row">
        @foreach (var platform in Platforms)
        {
            <button class="btn btn-outline-secondary">
                <div class="platform-btn">
                    <img class="platform-logo" src="@platform.LogoSrc" alt="platform logo"/>
                    @platform.PlatformName
                </div>
            </button>
        }
    </div>
</div>