@page "/"
<HeaderComponent/>

<div class="content px-4">

    <div class="description">
        <div class="world-description texting">
            <div class="world-description-title">
                The late of gone magic
            </div>
            <p>
                In the distant past, there was magic in the world and brave wardens who have taken the oath to protect the places where the magic power was concentrated.
                But one of them, succumbing to envy and a thirst for power, wanted to get this magic to himself alone.
                With the help of a dark ritual, he took possession of magic, but was forever cursed for the evil he had done.
                The magic was gone, but the curse and the desolation forever remained in those places.
            </p>
        </div>
    </div>
    <CharacterListComponent/>
    <ImgCarouselComponent/>

</div>

<FooterComponent/>